body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

.business-card{
  font-size: 16px;
  background-color: teal;
  width: 300px;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;  
}

.profile-image{
  max-width: 100%;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}
a:link {
  color: white
}
a:hover{
  color: lightgrey;
}